html,body{
    box-sizing:border-box;
    margin:0;
    padding:0;
    width:100%;
    height:100%;
    
  }
.layoutContainer{
    display:grid;
    width:100vw;
    height:100vh;
    grid-template-rows: 10vh 90vh;
    grid-template-columns: 1fr 15fr 1fr;
    grid-template-areas: 
    "menuBar menuBar menuBar"
    ". content ."
    ;
}

.menuBar{
    grid-area: menuBar;
}
.menuBarLink{
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    color: black;
    margin-left: 10%;
    
}

.content{
    grid-area: content;
}